<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwenhui.test" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.cwenhui.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cwenhui.module.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cwenhui.module.motionevent.KeyEventActivity"/>
        <activity android:name="com.cwenhui.module.motionevent.MotionEventActivity"/>
        <activity android:name="com.cwenhui.module.flowlayout.FlowLayoutActivity" />
        <activity android:name="com.cwenhui.module.fragmentTest.FragmentActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.cwenhui.module.motionevent.TestActivity" />
        <activity android:name="com.cwenhui.module.SideBarListView.SideBarListActivity" />
    </application>

</manifest>
